rvl_alias "clk_100" "rev_analyzer_inst/clk";
RVL_ALIAS "clk_100" "rev_analyzer_inst/clk"; 
RVL_ALIAS "reveal_ist_71" "pcs1_generate/pcs_inst_1/rx_pclk_c"; 
RVL_ALIAS "clk_100" "clk_100_mhz_pll/clkop"; 
RVL_ALIAS "clk_100" "clk_100_mhz_pll/clkop"; 
RVL_ALIAS "clk_100" "clk_100_mhz_pll/clkop"; 
RVL_ALIAS "clk_100" "clk_100_mhz_pll/clkop"; 
RVL_ALIAS "clk_100" "clk_100_mhz_pll/clkop"; 
RVL_ALIAS "clk_100" "rev_analyzer_inst/clk"; 
RVL_ALIAS "rx_pclk_1" "pcs1_generate/analyzer_down_inst/clk"; 
RVL_ALIAS "clk_100" "clk_100"; 
RVL_ALIAS "clk_100" "clk_100"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "los[0]" IO_TYPE=LVTTL33 ;
IOBUF PORT "los[1]" IO_TYPE=LVTTL33 ;
IOBUF PORT "los[2]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[0]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[1]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[2]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[3]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[4]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[5]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[6]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[7]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[8]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[9]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[10]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[11]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[12]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[13]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[14]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[15]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[16]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[17]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[18]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[19]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[20]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[21]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[22]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[23]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[24]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[25]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[26]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[27]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[28]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[29]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[30]" IO_TYPE=LVTTL33 ;
IOBUF PORT "data_out_o[31]" IO_TYPE=LVTTL33 ;
IOBUF PORT "disable1" IO_TYPE=LVTTL33 ;
IOBUF PORT "disable2" IO_TYPE=LVTTL33 ;
IOBUF PORT "disable3" IO_TYPE=LVTTL33 ;
IOBUF PORT "led[0]" IO_TYPE=LVTTL33 ;
IOBUF PORT "led[1]" IO_TYPE=LVTTL33 ;
IOBUF PORT "led[2]" IO_TYPE=LVTTL33 ;
IOBUF PORT "miso" IO_TYPE=LVTTL33 ;
IOBUF PORT "led[3]" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "led[4]" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "led[5]" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "led[6]" IO_TYPE=LVTTL33 PULLMODE=NONE ;
IOBUF PORT "led[7]" IO_TYPE=LVTTL33 PULLMODE=NONE ;
LOCATE COMP "gsrn" SITE "P4" ;
BLOCK JTAGPATHS ;
FREQUENCY NET "rx_pclk_1" 250.000000 MHz ;
FREQUENCY NET "clk_100" 100.000000 MHz ;
IOBUF PORT "gsrn" IO_TYPE=LVTTL33 ;
IOBUF PORT "switch[0]" IO_TYPE=LVTTL33 ;
IOBUF PORT "switch[1]" IO_TYPE=LVTTL33 ;
IOBUF PORT "switch[2]" IO_TYPE=LVTTL33 ;
LOCATE COMP "switch[7]" SITE "A16" ;
LOCATE COMP "led[0]" SITE "A13" ;
LOCATE COMP "led[1]" SITE "A12" ;
LOCATE COMP "led[2]" SITE "B19" ;
LOCATE COMP "led[3]" SITE "A18" ;
LOCATE COMP "led[4]" SITE "B18" ;
LOCATE COMP "led[5]" SITE "C17" ;
LOCATE COMP "led[6]" SITE "A17" ;
LOCATE COMP "led[7]" SITE "B17" ;
LOCATE COMP "switch[0]" SITE "J1" ;
LOCATE COMP "switch[1]" SITE "H1" ;
LOCATE COMP "switch[2]" SITE "K1" ;
LOCATE COMP "disable1" SITE "B15" ;
LOCATE COMP "disable2" SITE "D11" ;
LOCATE COMP "disable3" SITE "D12" ;
LOCATE COMP "los[0]" SITE "B13" ;
LOCATE COMP "los[1]" SITE "B12" ;
LOCATE COMP "los[2]" SITE "C13" ;
LOCATE COMP "clk_in" SITE "B11" ;
LOCATE COMP "clk_en" SITE "C11" ;
IOBUF PORT "switch[7]" IO_TYPE=LVTTL33 ;
IOBUF PORT "clk_in" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[0]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[1]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[2]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[3]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[4]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[5]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[6]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[7]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[8]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[9]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[10]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[11]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[12]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[13]" IO_TYPE=LVTTL33 ;
IOBUF PORT "seg[14]" IO_TYPE=LVTTL33 ;
IOBUF PORT "clk_en" IO_TYPE=LVTTL33 ;
FREQUENCY NET "clk_in_c" 25.000000 MHz ;
